

.canvas-page {
  padding-bottom: 50px;
}
.canvas-page__inner {
  display: flex;
  align-items: flex-start;
}

.canvas-wrapper {
  width: 210mm;
  height: 297mm;
  box-shadow: 0 0 0 1px black;
}

.canvas {
  width: 100%;
  height: 100%;
}